body {
    background: rgb(81, 159, 196)
}

#banner {
    width: 98%;
    height: 478px;
    text-align: center;
}


h1 {
    text-align: center
    
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #e61010;
}