body {
    background: rgba(71, 136, 167, 0.953)
}

#banner {
    width: 100%;
}

h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #da1212ab;
}