body {
    background: rgb(159, 206, 228)
}

#banner {
    width: 100%;
}

h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #8ff554;
}